@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(../fonts/roboto_regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto Thin";
  font-style: normal;
  src: local("Roboto-Thin"), url(../fonts/roboto_thin.woff) format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat-Regular'), url(../fonts/montserrat.woff) format('woff');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #464646;
  font-size: 6rem;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Montserrat";
}

p {
  font-family: "Roboto Thin";
}

ul {
  list-style: none;
}

.after-submit-info {
  display: none;
}

#header-section {
  background: linear-gradient(45deg, #B029F1, #34179D, #030E73);
  color: #fff;
  margin: 0;
  padding: 0rem 3rem;
}

#header-section header h3 {
  font-size: 12rem;
  margin: inherit;
  padding: 10rem 0;
}

#header-section header h3::after {
  border-bottom: 3px solid #fff;
  content: "";
  display: block;
  padding-bottom: 10rem;
  width: 35%;
}

#header-section header h1 {
  font-size: 16rem;
  margin: inherit;
}

#header-section header h2 {
  font-size: 2.5rem;
}

#header-section aside p {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

#header-section aside h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  width: 40%;
}

#header-section aside h2::after {
  border-bottom: 3px solid #fff;
  content: "";
  display: block;
  padding-bottom: 5rem;
  width: 25%;
}

#header-section aside input, #header-section aside button {
  font-size: 6rem;
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
}

#header-section aside button {
  background-color: #00EA84;
  border: none;
  color: #fff;
}

#header-section aside .alt-contact-wrapper p {
  font-size: 1.25rem;
  margin-left: 53rem;
}

#header-section aside p.disclaimer {
  font-family: "Roboto Thin";
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 8rem 0rem;
}

#intro {
  padding: 0rem 3rem;
}

#intro h1, #intro h2 {
  line-height: 1;
}

#intro h2 {
  font-size: 9rem;
  text-transform: uppercase;
}

#intro h1 {
  color: #521CB3;
  font-size: 17rem;
}

#intro p {
  font-size: 6rem;
  line-height: 1.5;
}

#reasons {
  background-color: #DED1F4;
  font-size: 3rem;
}

#reasons ul {
  margin: 0;
  padding: 2rem;
}

#reasons li {
  text-align: center;
  margin: 10rem 5rem;
}

#recommendations {
  background-color: #EEE4FF;
}

#core-technologies {
  text-align: center;
}

#tools {
  background-color: #EEE4FF;
  text-align: center;
}

footer {
  background-color: #3917A0;
  color: #fff;
}
