html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media(max-width: 1029px) {
  body{
    background: url('../images/site-background.png') no-repeat center -485px;
  }
}

@media (max-width: 1080px) {

  #team ul{
    width: 675px;
    height: 100%;
    margin: auto;
  }

  #team li {
    width: 685px;
    margin: 30px auto;
  }

  #team figure {
    width: 750px;
    margin: auto;
  }

  #team figure img {
    top: 0;
    opacity: 1;
  }

  #team figure header {
    margin-top: 100px;
    font-size: 44px;
    font-weight: 800;
    top: 0;
  }

  #team figure p {
    bottom: 0;
    overflow: visible;
    opacity: 1;
  }

  #team figcaption header p{
    opacity: 1;
  }

  #team figure figcaption{
    color: #000;
    cursor: default;
    display: inline-block;
    width: 435px;
    position: absolute;
    top: 20px;
  }

  .empty {
    height: 50px;
    display: block;
  }

  .twitter, .github{
    background: url('../images/twitter_rev.png') no-repeat center center;
    margin: 5px;
  }

  .github{
    background: url('../images/github_rev.png') no-repeat;
  }

  #team figure:hover figcaption {
    background: transparent;
  }

  #team > section{
    height: 1160px;
  }

  #team section > footer {
    top: -4435px
  }

  #team section.extend-section {
    height: 5650px;
  }

  #team hr.extend-divider-line {
    top: -84px;
  }

  #team section > footer.extend-footer {
    top: -20px;
  }

  /*projects*/

  #projects figure > img{
    width: 140px;
    height: 131px;
  }

  #projects ul {
    width: 580px;
  }

  #projects li {
    border: none;
    width: 290px;

    height: 360px;
  }

  #projects li:nth-of-type(3n-1) {
    border-width: 0;
  }

  #projects figure > img {
    width: 220px;
    height: 194px;
  }

  #projects li:nth-of-type(-n+3) {
    border: none;
  }

  #projects li:nth-of-type(odd) {
    border-right: solid 1px #d6d6d6;
    border-color: #d6d6d6;
  }

  #projects li:nth-of-type(3), #projects li:nth-of-type(4){
    border-top: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
  }

/*  open sauce */

  #open-source .open-source-project > ul {
    position: relative;
    top: 15px;
    left: 0px;
  }

  section#open-source > ul > li {
    max-width: 720px;
    margin: auto;
  }

  #open-source div {
    height: 100%;
    clear: both;
  }

/*  community */


  #community .community-project {
    max-width: 70%;
    margin: auto;
  }

  #community li {
    max-width: 880px;
    margin: auto;
  }

/*  contact*/

  section#contact > .map {
    display: none;
  }
  section#contact > .map-lower {
    display: block;
  }

  section#contact > figure {
    display: block;
    margin-bottom: 30px;
  }

  #contact figure img {
    padding-bottom: 50px;
  }
}

@media(max-width: 1000px) {
  body > header{
    height: 65px;
    background-color: white;
    border-bottom: 1px solid #d6d6d6;
    z-index: 9999;
  }

  .header-main > nav {
    padding-right: 50px;
    width: 300px;
  }

  .main-menu {
    display: none;
  }

  .mobile-menu{
    display: block;
  }

   body > header, header.visible {
    height: 65px;
  }

  .header-main > h1 {
    left: 27px;
    top: 17 px;
  }

  .mobile-menu {
    top: -20px;
    width: 65px;
  }

  .menu-button {
    height: 43px;
    background-image: url("../../images/sapphire-menu-bg2.png");
  }

  .menu-button span {
    margin-top: 5px;
    width: 37px;
    height: 7px;
  }

  nav li a {
    font-size: 32px;
  }

  nav.right{
    width: auto;
    padding-right: 10px;
  }

  .menu-controls {
    background-image: url("../../images/sapphire-menu-bg2.png");
    height: 55px;
  }

  .menu-title {
    top: 18px;
    font-size: 32px;
  }
}

@media(max-width: 767px){
  #team > section, section#team, section {
    min-width: 310px;
    max-width: 310px;
    margin: auto;
  }

  #team > section{
    height: 725px;
  }

  #team section > footer {
    top: -2785px
  }

  .twitter{
    background: url('../images/twitter_rev.png') no-repeat center center;
    background-size: 51px;
    margin: 5px;
  }

  #team section.extend-section{
    height: 3500px;
  }

  #intro section p{
    font-size: 18px;
    padding: 0 0px;
  }

  #header{
    font-size: 34px;
    margin: 0 0 34px 0;
  }

  #subheader {
    font-size: 30px
  }

  #team figure figcaption{
    position: relative;
    overflow: visible;
    width: 200px;
  }

  #team li, #team figure{
    width: 400px;
  }

  #team li{
    margin: 15px auto;
    height: 200px;
  }

  #team figure:hover header{
    margin-top: 0px;
  }

  #team figcaption > p {
    width: 160px;
    padding: 0 20px 0 0px;
    font-size: 13px;
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
  }

  #team figure figcaption header{
    margin: 0px;
    font-size: 22px;
    text-align: left;
    padding-left: 10px;
  }

  #team figure figcaption header p{
    font-size: 10px;
  }

  #team figure figcaption footer{
    position: relative;
    left: -170px;
    width: 180px;
    top: -50px;
    margin: 0px;
    background-color: rgba(255,255,255,0.7)
  }

  #team figure figcaption{
    top: 0px;
  }

  #team figure > img{
    width: 160px;
    height: 160px;
    position: relative;
    float: left;
  }

  #projects figure > img {
    width: 100px;
    height: 99px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  #projects ul{
    width: 320px;
  }

  #projects li{
    width: 160px;
    padding: 0px;
    height: 290px;
  }

  #projects figure > figcaption {
    padding: 5px;
  }

  .open-source-project {
    padding-left: 10px;
  }

  #open-source div > img {
    float: none;
    display: block;
    margin: auto;
    width: 90px;
  }

  #open-source div > .open-source-project {
    max-width: 310px;
  }

  section#open-source > ul > li {
    max-width: 310px;
    min-width: 310px;
    margin: auto;
    padding-bottom: 20px;
  }

  #open-source .open-source-project > header, #open-source .open-source-project > p {
    text-align: center;
  }

  #open-source div li > a:hover {
    opacity: 0;
  }


  #open-source .open-source-project > ul {
    display: table;
    margin: auto;
    width: auto;
    margin-top: 20px;
    left: -10px;
  }

  section#open-source .open-source-project > ul > li.team {
    height: 95px;
    margin: 0 2px;
  }

  #open-source .open-source-project li > img{
    width: 90px;
  }

  section#community > header {
    font-size: 42px;
  }

  #community .community-project {
    max-width: 100%;
    text-align: center;
  }

  #community li {
    max-width: 550px;
    margin: auto;
  }

  #community img{
    display: block;
    padding: 0;
    margin: auto;
    margin-bottom: 20px;
  }

  section#contact > figure {
    width: 310px;
  }

  #contact figcaption > div {
    width: 310px;
    padding: 0 10px;
  }

  #contact figcaption > div > section:first-of-type, #contact figcaption > div >section:last-of-type {
    width: 230px;
    display: block;
    margin: auto;
    text-align: center;
    padding: 0px;
  }

  #contact figcaption > div > section:first-of-type{
    margin-bottom: 40px;
  }

  section#contact > figure figcaption section > header {
    font-size: 26px;
  }

  #contact figcaption address{
    font-size: 18px;
  }

  #contact #title{
    font-size: 20px;
  }

  #contact figcaption section:last-of-type > header{
    margin-bottom: 20px;
  }

  .map-image{
    width: 310px;
  }

  section#contact > .map-lower {
    width: 310px;
  }

  body > footer {
    font-size: 14px;
  }

}
